
#container {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
}
.olMap {
    width: 100%;
    height: 100%;
    position: fixed;
}
.mlMap {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  width:100%;
}

body:not(.olMap) div.ol {
  display:none;
}
body.olMap div.ol {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  z-index: 2000;
  font-size: 1rem;
  text-shadow: 2px 2px .5rem white;
}

body:not(.mlMap) div.ml {
  display:none;
}
body.mlMap div.ml {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  z-index: 2000;  
  font-size: 1rem;
  text-shadow: 2px 2px .5rem white;
}
  img.prompt {
    width: 18rem;
    margin-left: 1rem;
  }

  .card-body {
    padding: .5rem !important; 
  }
  .cards {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    background-color: white;
    padding: 0;
    width: 38rem;
    max-height: 90vh;
    overflow-y: scroll;
    box-shadow: 5px 0px 8px rgb(0 0 0 / 30%)
  }

  body {
    font-family: 'Titillium Web', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: normal !important;
    font-size: 1rem !important;
  }
  h1 {
    display: inline;
    padding-left: 1rem;
  }


  .consolas {
    white-space: pre;
    padding-left: .5rem;
    font-size: .875rem;
    font-family: 'Syne Mono', monospace;
  }

  span.comment {
    padding-left:1rem;
  }

  .logo {
    display: inline;
    height: 3rem;
    padding-bottom: 1rem;
  }


  beta1 {
    overflow: scroll;
    height: 60vh;
  }

  
  .list-group-item {
    padding: 0.125rem !important;
    border: none !important;
  }


  body:not(.page_1) div.page_1 {
      display:none;
  }
  body:not(.page_2) div.page_2 {
    display:none;
  }
  body:not(.page_3) div.page_3 {
    display:none;
  }


body.page_1 a.page_1 i.bi-arrow-right-circle-fill {
  display:none;
}
body.page_2 a.page_2 i.bi-arrow-right-circle-fill {
  display:none;
}
body.page_3 a.page_3 i.bi-arrow-right-circle-fill {
  display:none;
}

body:not(.page_1) a.page_1 i.bi-arrow-down-circle-fill {
  display:none;
}
body:not(.page_2) a.page_2 i.bi-arrow-down-circle-fill {
  display:none;
}
body:not(.page_3) a.page_3 i.bi-arrow-down-circle-fill {
  display:none;
}

body:not(.page_1) a.page_1 {
  background-color: white;
  width: 32rem;
  text-align: left;
}
body:not(.page_2) a.page_2 {
  width: 16rem;
  background-color: white;
  text-align: left;
}
body:not(.page_3) a.page_3 {
  background-color: white;
  width: 16rem;
  text-align: left;
}

body.page_1 a.page_1  {
  width: 32rem;
  text-align: left;
  pointer-events: none;
  color: black !important;
  text-decoration: none !important;
}
body.page_2 a.page_2  {
  width: 16rem;
  text-align: left;
  pointer-events: none;
  color: black !important;
  text-decoration: none !important;
}
body.page_3 a.page_3 {
  width: 16rem;
  text-align: left;
  pointer-events: none;
  color: black !important;
  text-decoration: none !important;
}

p.description { 
  padding-left: .5rem;
}


.page-group-item {
  padding-left: .5rem;
}